//- extends cust_layout
extends layout
block content
  h1= title
  p Welcome to #{title}
  a(href='/') Home
  |
  |
  a(class='button' href='contact') Contact Us
  |
  |
  a(class='button', href='about') About Us